/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*메인 슬라이드 css*/
/* Slider */

/* Icons */
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 32px;
    height: 32px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 26px;
    right: -19%;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
    z-index: 999999;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 32px;
    height: 32px;
    margin: 0 30px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 32px;
    height: 32px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
    
    
}
.slick-dots li button:hover:before
{
    background-color: #A623A4;
    border: #A623A4 1px solid;
    opacity: 1;
    border-radius: 50%;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 32px;
    border: #F9E0E6 1px solid;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    content: '';
    text-align: center;

    opacity: .75;
    color: black;
    background-color: #F9E0E6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    background-color: #A623A4;
    border: #A623A4 1px solid;
    opacity: 1;
    border-radius: 50%;
    z-index: 99999999999;
}

/*메인슬라이드2*/
/*셀럽슬라이드버튼*/
#choice .slick-dots{
    position: absolute;
    right: -42.5%;
    bottom: 28%;
}
#choice .slick-list.draggable{
    height: 928px;
}
#choice .slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 32px;
    border: #F9E0E6 1px solid;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    content: '';
    text-align: center;

    opacity: .75;
    color: black;
    background-color: #F9E0E6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#choice .slick-dots li.slick-active button:before
{
background-color: #A623A4;
border: #A623A4 1px solid;
opacity: 1;
border-radius: 50%;
z-index: 99999999999;
}
#choice .slick-dots li button:hover:before,
#choice .slick-dots li button:focus:before
{
background-color: #A623A4;
border: #A623A4 1px solid;
opacity: 1;
border-radius: 50%;
}

/*베스트 아이템*/

#best .slick-dots{
    position: absolute;
    right: 0%;
    bottom: -30%;
}
#best .slick-dots li.slick-active button:before
{
background-color: #A623A4;
border: #A623A4 1px solid;
opacity: 1;
border-radius: 50%;
z-index: 99999999999;
}
#best .slick-dots li button:hover:before,
#best .slick-dots li button:focus:before
{
background-color: #A623A4;
border: #A623A4 1px solid;
opacity: 1;
border-radius: 50%;

}

/*이벤트 슬라이드*/
#event .event{
    width: 100%;
}
#event .slick-slide {
    transition: all ease-in-out .3s;
}
#event .slick-dots{
    position: relative;
    right: 5.5%;
    bottom: -62px;
}
#event .slick-dots li.slick-active button:before
{
background-color: #A623A4;
border: #A623A4 1px solid;
opacity: 1;
border-radius: 50%;
z-index: 99999999999;
}
#event .slick-dots li button:hover:before,
#event .slick-dots li button:focus:before
{
background-color: #A623A4;
border: #A623A4 1px solid;
opacity: 1;
border-radius: 50%;

}
/*공지 슬라이드*/
#notice .slick-slider{
    right: -28%;
    top: -200px;
}
#notice .slick-list.draggable{
    height: 500px;
}
#notice .slick-slide .slick-current .slick-active{
    width: 500px;
}
#notice .slick-arrow{
    top:50%;
    top: 136px;
}
#notice .slick-prev{
    border: #A623A4 1px solid;
    width: 50px;
    height: 50px;
    left: -23.4%;
}
#notice .slick-prev:hover{
    background-color: #A623A4;
}
#notice .slick-prev:active{

}
#notice .slick-next{
    border: #A623A4 1px solid;
    width: 50px;
    height: 50px;
    left: -20%;

}
#notice .slick-next:hover{
    background-color: #A623A4;
}
#notice .slick-next:active{
}

#notice .slick-prev:before{
    content: '◀';
    color:#A623A4;
    opacity: 1;
    position: relative;
    top: -5%;
    left: -3%;

}
#notice .slick-next:before{
    content: '▶';
    color:#A623A4;
    opacity: 1;
    position: relative;
    top: -5%;
    left: 3%;
}
#notice .slick-prev:hover:before{
    content: '◀';
    color:#F9E0E6;
    opacity: 1;
    position: relative;
    top: -5%;
    left: -3%;
}
#notice .slick-next:hover:before{
    content: '▶';
    color:#F9E0E6;
    opacity: 1;
    position: relative;
    top: -5%;
}

